
<div class="card" >
  <div class="card-body">
      <h5 class="card-title">Registration Form</h5>
      <form [formGroup]="formGroup">
          <label>User Name</label>
          <input formControlName="userName" class="form-control" type="text" required>
          <label>User Email</label>
          <input formControlName="email" class="form-control" type="text" required>
          <label>Password</label>

          <input formControlName="password" class="form-control" type="password" required>
          <input [disabled]="formGroup.invalid" class="btn btn-primary mt-4" type="submit" (click)="saveUser()">
      </form>

  </div>
</div>
